


@model OST_Inventory.Models.BaseAccount

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>
    <script>
        var GloablMsg = '@ViewBag.LoginMsg';
        $(document).ready(function () {
            if (GloablMsg != "") {
                $('#spnGlobalPartialMsg').html(GloablMsg);
                $("#dvGlobalPartialMsg").dialog({
                    resizable: false,
                    modal: true
                });
            }
        })
    </script>
</head>
<body>
    @using (Html.BeginForm("Login", "Account"))
    {

        <div style="width:400px;height:500px;border:1px solid red;position:absolute;top:0px;bottom:0px;right:0px;left:0px;margin:auto;">
            <div class="content">
                <div class="row" style="padding:5px 0px;">
                    <div class="col col-sm-12">
                        <h2 style="text-align:center">Login</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        UserName
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        @Html.TextBoxFor(m => m.UserName, new { style = "width:100%;" })
                        @*<input type="text" name="txtUserName" style="width:100%;" />*@
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        Password
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        @Html.TextBoxFor(x => x.Password, new { style = "width:100%;" })
                        @*<input type="text" name="txtPassword" style="width:100%" />*@
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row" style="padding:5px 0px;">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        <input type="submit" id="btnLogin" value="Login" name="btnSubmit" style="width:100%" />
                        <input type="submit" id="btnReset" value="Reset" name="btnSubmit" style="width:100%" />

                        <input type="submit" id="btnForgetPassword" value="Forget Password" name="btnSubmit" style="width:100%" />
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.Partial("~/Views/Common/_PartialGlobalMsg.cshtml")
</body>
</html>
